@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Modo claro */
  --color-accent: #FFC107;
  --color-background: #FFF8F0;
  --color-card: #FDE7C1;
  --color-primary: #F57C00;
  --color-text: #6D4C41;

  /* Dark theme */
  --color-dk-accent: #FFCA28;
  --color-dk-background: #2E2E2E;
  --color-dk-card: #4E342E;
  --color-dk-primary: #FF9800;
  --color-dk-text: #D7CCC8;
}
